.button {
  height: 56px;
  font-family: Cinzel, monospace;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: $main-white-color;
  background-color: $main-red-color;
  border: none;

  &:hover {
    background-color: $hovered-red-color;
  }

  &:active {
    background-color: $active-red-color;
  }
}
