.input-form {
  @include grid-set-up(2, 16px);

  gap: 16px;
  padding-top: 44px;

  &__area {
    grid-column: 1/-1;
    border: 1px solid $form-bcg-color;
    background-color: $form-bcg-color;
    color: $main-grey-color;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    padding-block: 14px;
    border-radius: 0;
    max-width: 401px;

    &--textarea {
      height: 144px;
      resize: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $form-bcg-color inset !important;
    }

    &:hover {
      color: $main-dark-color;
      border-color: $hover-grey-color;
    }

    &:focus {
      color: $main-dark-color;
      border-color: $main-dark-color;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin-top: 16px;
    max-width: 411px;
  }
}
