$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-white-color: white;
$main-red-color: #d12d35;
$hovered-red-color: #ae1c23;
$active-red-color: #eb343d;
$main-dark-color: #161616;
$sub-grey-color: #3e3e3e;
$main-grey-color: #7e7e83;
$form-bcg-color: #f8f8fa;
$hover-grey-color: #d5d7de;
$padding-top-content-mobile: 100px;
$padding-block-sections: 16px;
$padding-left: 20px;
$transform-scale: 1.2;
$transform-time: 0.3s;
